{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true
  },
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": 0,
    "react/prop-types": 0
  }
}
