#overlay {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.89);
  z-index: 2;
}

#home {
  position: relative;
  overflow: hidden;
}

#home-text-container {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  z-index: 2;
  height: 100%;
}

#home-text {
  align-self: center;
  font-size: 3rem;
  text-align: center;
  width: 80%;
  font-family: 'Spinnaker', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#background-img {
  position: relative;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT91GErofDZFLPmKZqjD8tbfOwkbDKugI78ciN1IFpilC1vWNBy');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 81.2vh;
}

@media (max-width: 30rem) {
  #home-text {
    align-self: center;
    font-size: 1rem;
  }
}